Console.client/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Tamagotchi.service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Tamagotchi.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchi" nillable="true" type="tns:ArrayOfTamagotchi" />
  <xs:complexType name="Tamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crazy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Honger" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Isolatie" type="xs:int" />
      <xs:element minOccurs="0" name="LastAccess" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Leven" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overleden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Slaaptekort" type="xs:int" />
      <xs:element minOccurs="0" name="TopAtleet" type="xs:boolean" />
      <xs:element minOccurs="0" name="Trek" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vermoeidheid" type="xs:int" />
      <xs:element minOccurs="0" name="Verveling" type="xs:int" />
      <xs:element minOccurs="0" name="Voedseltekort" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
  <xs:complexType name="ArrayOfDummy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dummy" nillable="true" type="tns:Dummy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDummy" nillable="true" type="tns:ArrayOfDummy" />
  <xs:complexType name="Dummy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crazy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Honger" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Isolatie" type="xs:int" />
      <xs:element minOccurs="0" name="LastAccess" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Leven" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overleden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Slaaptekort" type="xs:boolean" />
      <xs:element minOccurs="0" name="TopAtleet" type="xs:boolean" />
      <xs:element minOccurs="0" name="Trek" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vermoeidheid" type="xs:int" />
      <xs:element minOccurs="0" name="Verveling" type="xs:int" />
      <xs:element minOccurs="0" name="Voedseltekort" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dummy" nillable="true" type="tns:Dummy" />
</xs:schema>